#cls{
    background-color: indianred;
    color: white;
}
#un{
    background-color: darkslategray;
    color: white;
}
#deux{
    background-color: darkslategray;
    color: white;
}

#trois input{
    background-color: darkslategray;
    color: white;
}

#quatre input{
    background-color: grey;
    color: white;
}

#cinq input{
    background-color: grey;
    color: white;
}
#six input{
    background-color: grey;
    color: white;
}
#sept input{
    background-color: grey;
    color: white;
}
#huit input{
    background-color: grey;
    color: white;
}
div#quatr{
    background-color: darkslategray;
    color: white;
}